.advertisement{
	height: 336px;
	width: 280px;
	background: beige;
	margin-top: 10%;
	margin-left: 40%;
}


@font-face{
	font-family: "Jabin";
	src: url(../fonts/Jabin-Typeface.woff2) format("woff2");
}

.text{
	font-family: "Jabin";
	font-size: 30px;
	color: #5e5e5e;
	letter-spacing: 0.1px;
	line-height: 24px;
	width: 800px;
	margin: auto;
	position: relative;
	text-align: center;
	top: 15%;
	left: -93%;
	font-swash:100;
	font-weight: 10;

}

.jouster{

	position: relative;
	top: 20%;
	left: 15%;
}

.othertext{

	font-family: "Jabin";
	font-size: 30px;
	color: #5e5e5e;
	letter-spacing: 0.1px;
	line-height: 24px;
	width: 800px;
	margin: auto;
	position: relative;
	text-align: center;
	top: 25%;
	left: -93%;
	font-swash:100;
	font-weight: 10;
}

.applyhere{

	font-family: "Jabin";
	font-size: 20px;
	color: white;
	letter-spacing: 0.1px;
	line-height: 24px;
	width: 800px;
	margin: auto;
	position: relative;
	text-align: center;
	top: 100px;
	font-swash:100;
	font-weight: 10;
  	height: fit-content+20px;
	width: fit-content;
	background: indianred;
}